img {
    width:100%;
    height:100%;
}

 .container {
    display: flex;
    justify-content: center;
    
} 

/* body {
    overflow: hidden;
} */

/* no circle */
.flickity-button {
    background: transparent;
  }
.carousel {
    width: 80%;
}
.carousel-cell {
    width: 43%;
    height: 80%;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: gallery-cell;
    margin-right: 20px;
    

  }

  .carousel-cell.is-expanded { height: 100%;

}

.carousel-cell.not-expand{
    height: 43%;
}

 .carousel-cell.is-selected {
    
     /* background: #ED2; */
     z-index: 99;
     /* box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19); */
    /* height: 100%; */

    /* left: 0 !important;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
   */
    }
  
  /* cell number */
  /* .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  } */

  .innerDiv {
      height: 25%;
      width: 50%;
      position: absolute;
      bottom: 0;
      right: 0;
     
  }

  #i-icon{
    height:5%;
    width: 10%;
    position: absolute;
    bottom: 50;
    right:30;
  }

  .modal_content {
      width: auto;
  }

  .flickity-button-icon {
      background: transparent;
  }
  @media (max-width: 767.98px) {


    .carousel {
        width: 120%;
    }

    .carousel-cell {

        width: 120%;
        height: 100%;
        margin-right: 10px;
        background: #8C8;
        border-radius: 5px;
        counter-increment: gallery-cell;
    
      }

      .flickity-button {
       
        background:transparent;
      }

      .modal-body {
        position: relative;
        padding: 20px;
        /* height: 200px; */
        overflow-y: scroll;
        }

        #i-icon{
            height:8%;
            width: 10%;
            position: absolute;
            bottom: 50;
            right:80;
          }
         

       
        

  } 
